<lib-navbar [navBarData]="navBarData" (clickMenuEntry)="onClickMenuEntry($event)"></lib-navbar>

<!-- <lib-images-grid [imagesWithLinks]=imageLinksWithDetailLinks></lib-images-grid> -->
<!-- <lib-contact-options [contactOptions]="contactOptions"></lib-contact-options> -->

<div class="container">
  <lib-selection-typeahead [id]="'xyz'" [items]="items" [placeholder]="placeholder" [typeAheadConfig]="typeAheadConfig" [ngStyle]="ngStyle" (setValue)="onSetValue($event)"></lib-selection-typeahead>
  <!-- <lib-card [title]="" [info]="" [detail]=""></lib-card> -->
  <lib-dps [individualDPSData]="individualDPSData"></lib-dps>
  <lib-impressum [individualImpressumData]="individualImpressumData"></lib-impressum>
  <lib-disclaimer></lib-disclaimer>

</div>
