
<lib-navbar [navBarData]="navBarData" (clickMenuEntry)="onClickMenuEntry($event)"></lib-navbar>
<p><br></p>
<p><br></p>
<p><br></p>

<div class="contentScreen">

  <app-event-cards *ngIf="view==='/find'" [cards]="cards" [cardDivStyling]="cardDivStyling"
                   [cardTitleStyling]="cardTitleStyle" [infoStyling]="cardInfoStyle" [itemSize]="itemSize"
                   [viewPortHeight]="height">

  </app-event-cards>


  <lib-contact *ngIf="view==='/contact'" [individualImpressumData]="individualImpressumData"
               [disclaimerStylingData]="disclaimerStylingData"></lib-contact>

</div>
